#content_box {
    display: grid;
    width: 100%;
    margin: 1rem 0;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: .4rem;

    div {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */

        img {
            max-width: 400px;
            width: 100%;
        }

        p {
            padding-top: .5rem;
            color: var(--complimentary2);
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 420px) {
    #content_box {
        justify-items: center;
    }

    #content_box div {
        padding: 1rem;
        background-color: var(--primary-color);
        border-radius: 10px;
    }
}

@media screen and (min-width: 900px) {
    main {
        max-width: 1300px;
    }
}

@media screen and (min-width: 1300px) {
    main {
        max-width: 1600px;
    }
}

@media screen and (min-width: 1600px) {
    main {
        max-width: none;
    }
}