:root {
    --primary-color: #1C1C1C;
    --complimentary: #DADDD8;
    --color3: #ECEBE4;
    --background-color: #EEF0F2;
    --color4: #FAFAFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--complimentary);
    font-family: Quicksand, Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
}

main {
    background-color: var(--background-color);
    width: 97%;
    margin: 0 auto;
}

.nunito {
    font-family: Nunito, Quicksand, sans-serif;
}

.quicksand {
    font-family: Quicksand, Arial, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--color3);
    padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, Quicksand, sans-serif;
}

ul {
    margin-left: 2rem;
}

section {
    padding: 2rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
}

.grid * {
    text-align: center;
    padding: 1rem 0;
}

.grid #primary {
    grid-column: 1 / 6;
    background-color: #1C1C1C;
    color: var(--color3);
}

.grid #color2 {
    background-color: #DADDD8;
    color: var(--primary-color)
}

.grid #color3 {
    background-color: #ECEBE4;
    color: var(--primary-color)
}

.grid #color4 {
    background-color: #EEF0F2;
    color: var(--primary-color)
}

.grid #color5 {
    background-color: #FAFAFF;
    color: var(--primary-color)
}

#wireframes img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
}

#wireframes img:last-child,
#wireframes img:nth-last-child(2) {
    padding: 2rem;
}

#wireframes h3 {
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem 2rem .5rem 2rem;
    background-color: var(--color4);
    border-top: solid 1px var(--primary-color);
    border-right: solid 1px var(--primary-color);
    border-left: solid 1px var(--primary-color);
}

.photo-box {
    display:grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    background-color: var(--complimentary);
}

#desktop-gallery,
#desktop-drones,
#desktop-contact {
    grid-column: 1 / 5;
}
#mobile-gallery,
#mobile-drones,
#mobile-contact {
    grid-column: 5 / 7;
}