* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
hr.solid {
    border: none;
    border-top: 3px solid #bbb;
}
.justify_right {
    text-align: right;
}

/* Nav */
body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #eee;
}
header {
    background-color: #050092;
    color: #fff;
    text-align: center;
}
h1 {
    font-size: larger;
    padding: 1rem;
    margin: 0 auto;
}
nav {
    background-color: #063700;
    margin: 0 auto;
    max-width: 960px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
    text-decoration: none;
    border: 1px solid #063700;
}
nav a:hover {
    border: 1px solid #fff;
    background-color: #0b5e00;
}
main {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card {
    margin: 15px 0;
    width: 97%;
    border: 1px solid black;
    display: grid;
    border-radius: 15px;
    overflow: hidden;
}
/* .card ul {
    list-style-type: none;
} */
.quin {
    grid-column: span 5;
}
.quad {
    grid-column: span 4;
}
.triple {
    grid-column: span 3;
}
.double {
    grid-column: span 2;
}
.single {
    grid-column: span 1;
}
.span_all {
    grid-column: 1 / -1;
}
.card {
    grid-column: 1 / -1;
}
.card-header {
    color: #eee;
    background-color: #050092;
    padding: 1rem;
    height: 50px;
    text-align: center;
}
.card-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.card-content * {
    width: 90%;
    height: auto;
    padding: 5px 0;
    margin: 0 auto;
}
.up_and_down {
    display: flex;
    align-items: center;
}

footer {
    color:#eee;
    background-color: #050092;
    text-align: center;
    padding: 20px;
}

/* Larger Views * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media screen and (min-width: 640px) {
    /* main {
        max-width: 960px;
        margin: 0 auto;
    } */
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    .span_all {
        grid-column: 1 / -1;
    }
    .quin {
        grid-column: span 5;
    }
    .quad {
        grid-column: span 4;
    }
    .triple {
        grid-column: span 3;
    }
    .double {
        grid-column: span 2;
    }
    .single {
        grid-column: span 1;
    }
}